img {
  border-radius: 40px;
  width: 200px;
}
body {
color: #e5e9f0;
background-color: #2e3440;
  font-family: Hack;
}
.tg {
  width: 53px;
}
.gh {
  width: 60px;
}
.all {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  text-align: center;
}
a {
  color: #2e3440;
}
.div {
  color: #6C7A96;
} 
