@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e3440;
  color: #eceff4;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.logo {
  border-radius: 100%;
  width: 260px;
  height: 260px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #1e222a;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #88c0d0;
  border-color: #88c0d0;
}

.card h2 {
  margin: 0 0 0 0;
  font-size: 1.5rem;
}
